<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<settings>
<setting name="cacheEnabled" value="false"/>
<setting name="useGeneratedKeys" value="true"/>
<setting name="defaultExecutorType" value="REUSE"/>
</settings>

<typeAliases>
<typeAlias type="net.su.login.vo.HomeValueObject" alias="Vo"/>
<typeAlias type="net.su.login.vo.CompanyValueObject" alias="companyVo"/>
<typeAlias type="net.su.login.vo.MemberValueObject" alias="mvo"/>
<typeAlias type="net.su.bcms.vo.CardValueObject" alias="cvo"/>
<typeAlias type="net.su.bcms.vo.ComnctnNmeCardValueObject" alias="comnctnNmeCardVo"/>
<typeAlias type="net.su.shar.vo.SharValueObject" alias="sharVo"/>
<typeAlias type="net.su.bcms.vo.GroupValueObject" alias="groupVo"/>
<typeAlias type="net.su.shar.vo.SharSearchAndPageValueObject" alias="sharSapVo"/>
<typeAlias type="net.su.bcms.vo.MemPageValueObject" alias="mpVo"/>
</typeAliases>


<mappers>
<mapper resource="/mybatis/sql/memberMapper.xml"/>
<mapper resource="/mybatis/sql/cardMapper.xml"/>
<mapper resource="/mybatis/sql/sharMapper.xml"/>
<mapper resource="/mybatis/sql/groupMapper.xml"/>
</mappers>

</configuration>


